nav {
	border-top: 1px solid #d7d9da;
	border-bottom: 1px solid #d7d9da;
	width: 100%;
	min-height: 49px;
}
.sf-menu {
	margin:			0;
	padding:		0;
	list-style:		none;
	background:none;
	width: 100%;
	padding: 17px 0 0px 3px;
}
	.sf-menu li {
		float: left;
		font-size: 15px;
		line-height: 16px;
		padding-right: 39px;
	}
	
		.sf-menu li a {
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			color: #1f1f1f;
		}
			.sf-menu li a:hover, .sf-menu .active {
				text-decoration: underline;
				color: #aaacad;
			}
.sf-menu li li li {
	font-size:1em;
	line-height:1.2307em;
	float:none;
}
.sf-menu ul {
	position:absolute;
	width: 100px;
	border:none;	
	top: 0;
	left: 50px !important;
}

	.sf-menu ul li {
		width:			100%;
		background: #FFF !important;
		font-size: 11px !important;
		line-height: 20px !important;
		float:none;
		padding: 0;
	}
		.sf-menu li:hover {
			visibility:		inherit; /* fixes IE7 'sticky bug' */
		}
			.sf-menu li li:hover {background: url(../images/nav-ul-li-ul-li-bg-hover.gif) 0 0 no-repeat;}
				.sf-menu li li a {
					background:none;
					color:#222222;
					overflow:hidden;
					display:block;
					height: 31px;
					width: auto;
					padding: 0 21px;
				}
				
				.sf-menu li li a:hover, .sf-menu li li a.current {
					color:#aaacad;
				}

.sf-menu li:hover ul,
.sf-menu li.sfHover ul {
	left:			0;
	top:			180px; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
	left:			170px; /* match ul width */
	top:			0;
	margin-left:1px;
}
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
.sf-menu li:hover, .sf-menu li.sfHover,
.sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
	outline:		0;
}
.sf-menu a.sf-with-ul {
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}

.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			-10px;
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:url(../images/sf-ul-li-a-bg.gif) no-repeat 0 0;
}
.sf-menu .sf-sub-indicator {
	display:none;
}
	.sf-menu ul .sf-sub-indicator {
		display:block;
	}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:50%;
	margin-top:-2px;
}

/* point right for anchors in subs */
.sf-menu ul .sf-sub-indicator { right:5px !important;}
.sf-menu ul a > .sf-sub-indicator { background:url(../images/sf-ul-li-a-bg.gif) no-repeat 0 0;}
