.default-color {
    color: #98012E;
}

.default-background-color {
    background-color: #98012E;
}
.type-select-option {
    margin-bottom: 1rem;
}

.type-radio-option input {
    margin-right: 5px;
}

.project-text-box {
    margin-bottom: 15px;
}

@media (min-width: 576px) {
    .calc-panel {
        height: unset;
        overflow: unset;
    }
}

@media (min-width: 992px) {
    .calc-panel {
        height: unset;
        overflow: unset;
    }
}

@media (min-width: 1200px) {
    .calc-panel {
        height: 100vh;
        overflow: hidden;
    }
}

.dimesion-input-option {
    float: left;
    margin-right: 20px;
}

.kw-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.left-panel {
    overflow: auto;
    height: 100%;
    background-color: #f2f2f2;
}
.right-panel {
    height: calc(100vh - 114px);
}
.col-form-label-custom {
    padding-top: calc(0.175rem + 1px);
    padding-bottom: calc(0.175rem + 1px);
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.5;
}
.calc-checkbox{
    font-size:14px;
}
.calc-radio-option {
    font-size:14px;
}
.calc-radio-option input {
    margin-right: 5px;
}
.normal-td{
    font-weight:normal;
    font-size:14px;
}